body {
  color: antiquewhite;
  background-color: #494949;
  margin: 0;
  padding: 0;
}

#App {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  gap: 10px;
}

h1 {
  margin: 0;
}

input {
  color: #c9d1d9;
  background-color: #161b22;
  border-radius: 5px;
  border-width: 1px;
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  color: #c9d1d9;
  background-color: #161b22;
  border-radius: 5px;
  border-width: 1px;
  font-family: 'Courier New', Courier, monospace;
}

button {
  padding: 5px;
  font-size: large;
  margin: 0 10px;
}

.originalCode {
  padding: 10px;
}

.prettyCode {
  padding: 10px;
}

.buttonsRow {
  text-align: center;
}
